@charset "utf-8";

/*=============== レイアウトのためのCSS =================*/

.wrapper{
  text-align: center;
}

p{
  padding:20px 0;
}

.bg-black{
  background:#000;
}

.bg-black p{
  color:#fff; 
}

a{
  color:#333;
}

img{
    max-width: 100%;
    height: auto;
}
